
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<form class="form-group" method="post">
    <div>
        <label>Musteri Adi</label>
        <input type="text" class="form-control" name="MUSTERIAD" />
    </div>
    <div>
        <label>Musteri Soyadi </label>
        <input type="text" class="form-control" name="MUSTERISOYAD" />
    </div>
    <div style="margin-top:20px">
        <button class="btn btn-info">Musteri Ekle</button>
    </div>
</form>