@model MvcStok.Models.Entity.TBLMUSTERILER
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<form class="form-group" method="post">
    <div>
        <label>Musteri Adi</label>
        @*<input type="text" class="form-control" name="MUSTERIAD" />*@
        @Html.TextBoxFor(m => m.MUSTERIAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MUSTERIAD, "", new { @style = "color:red" })
    </div>
    <div>
        <label>Musteri Soyadi </label>
        <input type="text" class="form-control" name="MUSTERISOYAD" />
    </div>
    <div style="margin-top:20px">
        <button class="btn btn-info" onclick="alert('Musteri Ekleme Islemi Yapildi')">Musteri Ekle</button>
    </div>
    @*<script>   //alerti scriptten gosteremedim yukarida butona onclick ile gomdum
            $('#btn1').click(function () {
                alert('Musteri Ekleme Islemi Yapildi!');
            });
        </script>*@
</form>