@{
    ViewBag.Title = "About";
}

<form method="get">
    <fieldset>
        Film Turu Secin:  <select id="MovieType" name="form-control">
            <option value=""></option>
            <option value="0">Aksiyon</option>
            <option value="1">Drama</option>
            <option selected="selected" value="2">Komdei</option>
            <option value="3">Bilim Kurgu</option>
            <option value="3">Animasyon</option>
            <option value="3">Macera</option>
            <option value="3">Fantastik</option>
        </select>
        <p><input type="submit" value="Submit" /> </p>
    </fieldset>
</form>